# XCode noise
build/*
*.pbxuser
*.mode1v3
*.pyc 
*~.nib/ 
*.perspective 
*.perspectivev3
*.xcodeproj/project.xcworkspace/xcuserdata/*
*.xcodeproj/xcuserdata/*

# old school
.svn

# osx noise
.DS_store
profile

# iAmiga specific
disks/*

# vim
*.swp

rgetSpecific/DotC/Info-DotC.plist

libraries/sdl-mini
