html,body {
        height:100%;
}

body,ul,li {
	padding:0;
	margin:0;
	border:0;
	font-size:12px;
}

@font-face {
	font-family: limelight;
	src: url('../Limelight.ttf');
}

body {
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
	font-family:helvetica;
}

#left {
	-webkit-box-flex:1;
	position:relative;
    height:100%;
	width:100%;
	padding-top:43px;
}

header,nav,aside,section,article {
        display:block;
}

h1 {
       display:none;
}




#tabbar {
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000), color-stop(.01, #000), color-stop(.02, #555), color-stop(.03, #2d2d2d), color-stop(.5, #151515), color-stop(.51, #000)); 
  	 bottom:0px;
  	display: block; 
  	height: 50px;
	position:fixed;
	width:100%;
	z-index:10000;
}
#tabbar .tabs {opacity:0.5;-webkit-border-radius:6px;width:20%;float:left;text-align:center;color:#fff;font-size:10px;line-height:10px;margin:3px 0px 0px 0px;padding:3px 0px 0px 0px;}
#tabbar .tabs:active {background-color:#3b3b3b;opacity:1;}
#tabbar .tabs img {zoom:50%;}
#tabbar .tabs .icon {height:19px;width:100%;text-align:center;float:none;}
#tabbar .tabs:active .icon {opacity:1;}
#spinner {position:absolute;text-align:center;opacity:0.9;height:100px;width:100px;top:50%;left:35%;display:block;opacity:0.6;}

.icon {
    font-family:arial;
    text-align:center;
    text-shadow: rgba(255, 255, 255, 1) 1px 1px 0;
    font-size:11px;
    color:#3b485c;
    width:74px;
    float:left;
    line-height:14px;
    margin-bottom:12px;
    position:relative;
}
.icon:active {opacity:0.5;}
.icon span span {float:none;}
.paneHdr {
    font-family:arial;
    text-align:center;
    text-shadow: rgba(255, 255, 255, 1) 1px 1px 0;
    font-size:12px;
    font-weight:bold;
    color:#3b485c;
    line-height:20px;
    margin:5px 0px 10px 0px;
}

.transthis {z-index:0;position:absolute;width:100%;height:100%;}

.wrapper {
	position:absolute;	
	z-index:1;
	width:384px;
	height:260px;
	left:0px;
    
	margin:8px 11px 0px 11px;
	overflow:hidden;
	background-image:url(../images/textbg.png);
	background-repeat:no-repeat;
}


.scroller {
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
	padding-bottom:95px;
}

.scroller ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

.scroller li {
	height:42px;
	background-color:#f0f0f0;
	border-bottom:1px solid #e4e4e4;
	font-size:20px;
	color:#000;
	line-height:18px;
	padding-top:8px;
	font-weight:bold;


}



.notebox {
	text-shadow: rgba(0, 0, 0, 1) -1px -1px 0;
	font-size:12px;	
	color:#999;
	padding:20px;
	line-height:18px;
    
}

.notebox h2 {
    font-family: limelight;
}

.notebox img {
	zoom:57%;
}

.notebox h1 {
	text-shadow: rgba(0, 0, 0, 1) -1px 0px 0;
	font-size:18px;
	font-weight:bold;
	color:#999;

	display:block;
}

.notebox h2 {
	text-shadow: rgba(0, 0, 0, 1) -1px 0px 0;
	font-size:16px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	display:block;
}

.notebox strong {
	color:#fff;

}

.normaltext {
	text-shadow: rgba(0, 0, 0, 1) -1px -1px 0;
	font-size:12px;
	color:#999;
	padding:20px;
	line-height:18px;
}

.backbtn {zoom:50%;}


.disclaimer {
	text-shadow: rgba(255, 255, 255, 1) 1px 1px 0;
	font-size:14px;
	color:#3b485c;
	padding:15px;
}














#carusel  {
	width:200px;
	height:245px;
	left:0px;
	position:relative;	/* On older OS versions "position" and "z-index" must be defined, */
	z-index:1;			/* it seems that recent webkit is less picky and works anyway. */
	overflow:hidden;
	width:384px;
	height:260px;
	left:0px;
	margin:8px 11px 0px 11px;
	overflow:hidden;
	background-image:url(../images/textbg.png);
	background-repeat:no-repeat;
	text-shadow: rgba(0, 0, 0, 1) -1px -1px 0;
	font-size:12px;
	color:#999;
	
}



#carusel ul {
	list-style:none;
	display:block;
	float:left;
	width:1152px;
	height:240px;
	padding:0;
	margin:0;
	text-align:center;
}

#carusel li {
	-webkit-box-sizing:border-box;
	display:block; float:left;
	width:384px; height:240px;
	text-align:center;
	font-family:arial;
	background-image:transparent;
	background-color:transparent;
	font-size:18px;
	border-bottom:0px;
	padding-left:10px;
	line-height:140%;

}

#nav {
	width:100%;
	text-align:center;
	position:absolute;
	bottom:10px;
	z-index:10000;
	font-size:30px;
	color:#999;

}

#nav .active {color:#fff;}

.carusel #indicator > li {
	text-indent:-9999em;
	width:8px; height:8px;
	-webkit-border-radius:4px;
background:#fff;
	overflow:hidden;
	margin-right:4px;
}

.carusel #indicator > li.active {
	background:#888;
}

.carusel #indicator > li:last-child {
	margin:0;
	
}














